.card{
  margin-left: 100px;
  margin-right: 100px;
}

.mat-title{
display: flex;
justify-content: center;
}

.data-container{
  display: flex;
justify-content: center;
}

.form-field {
  width: 400px;
}
.subtitle{
 font-size: x-large;
}

button{
  width: 100px;
  font-size: x-large;
}